
body{
  background-color: rgb(0, 0, 0);
  color:white;
}

header{
  font-family: 'Libre Barcode 39 Text', Arial, sans-serif;
}

#text{
  background-color: white;
  width: 70%;
  padding: 50px;
  margin:auto;
  font-size: 16px;
  color: #454545;
  font-family:Arial, Helvetica, sans-serif;
  text-align: justify;
  text-indent: 30px;
}

img{
  width:100%;
}

h2{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 207, 38);
}
h3, h4{
  text-align: center;
  font-size: 25px;
  font-family: 'Libre Barcode 39 Text', Arial, sans-serif;
}

#container>* {
  display: inline-block;
  vertical-align:top;
  margin: 30px;
  height: 500px;
  text-align: center;
}

/* dropdown menu taken from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp*/
.btnDrop {
  position: absolute;
  bottom: 0px;
  width: 300px;
  cursor: pointer;
}

.btnDrop:hover{
  background-color:white;
  color: black;
}

.dropdown-content {
  display: none;
  position:absolute;
  bottom: 80px;
  background-color: white;
  width: 300px;
  height: 450px;
  padding-top: 20px;
  z-index: 1;
}

.dropdown-content a {
  font-family: 'Libre Barcode 39 Text', Arial, sans-serif;
  font-size: 25px;
  color: black;
  margin: 30px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

/*end of dropdown*/

#exDiv{
  width: 300px;
  vertical-align: top;
  text-align: center;
  font-size: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  height: 400px;
}


.flip{
  transform: scale(1, 1);
}

#reflDiv{
  width: 300px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  position: relative;
}

#prjctDiv{
  width: 300px;
  height: 500px;
  perspective: 400px;
}

/*cube animation code was taken from https://3dtransforms.desandro.com/cube*/

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-150px);
  /* transition: transform 1s; */
  /* mix-blend-mode: difference; */
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: translateZ(-150px) rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: translateZ(-150px) rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: translateZ(-150px) rotateX(360deg) rotateY(360deg);
    transform: translateZ(-150px) rotateX(360deg) rotateY(360deg);
  }
}

.cube__face {
  position: absolute;
  width: 300px;
  height: 300px;
  /* border: 1px solid white; */
  line-height: 300px;
  font-size: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: white;
  background: black;
  text-align: center;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

/*end of cube animation*/

#presDiv{
  width: 300px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  position: relative;
  color: white;
  isolation: isolate;
  color: black;
}

#presDiv * {
  mix-blend-mode: multiply;
}
